.hero_section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/herosectionbg.png');
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}

.primary {
    color: rgb(138, 28, 31);
}

.secondary {
    color: #cfb070;
}

.darkprimary {
    color: rgb(42, 4, 5);
}