@import "tailwindcss";
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: rgb(138, 28, 31);
  --secondary: rgb(207, 176, 112);
  --darkprimary: rgb(42, 4, 5);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
     --primary: #8a1c1f;
     --darkprimary: #2a0405;
  --secondary: #cfb070;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 0;
}

.primary {
  color: rgb(138, 28, 31);
}

.embla {
  width: 100%;
  margin: auto;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  align-items: center;
  gap: 2rem; /* spacing between logos */
}

.embla__slide {
  flex: 0 0 15%; /* Desktop: 5 logos */
}

.embla__slide__inner {
  position: relative;
  width: 100%;
  height: 80px;
}

/* Tablet */
@media (max-width: 1024px) {
  .embla__slide {
    flex: 0 0 25%;
  }
}

/* Mobile */
@media (max-width: 640px) {
  .embla__slide {
    flex: 0 0 20%;
  }
}
.embla__slide__inner img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}